[Unit]
Description=Run Xvfb for display %I
After=network.target

[Service]
ExecStart=/usr/bin/Xvfb %I -screen 0 1920x1080x24 -fbdir /run

[Install]
WantedBy=multi-user.target
