[Unit]
Description=Run gnome session for display %I

[Service]
Environment="DISPLAY=%I"
Environment="XDG_SESSION_TYPE=x11"
ExecStart=/etc/X11/xinit/Xsession "gnome-session --disable-acceleration-check"

[Install]
WantedBy=default.target
