[Unit]
Description=Run nested Wayland gnome session for display %I

[Service]
Environment="DISPLAY=%I"
Environment="XDG_SESSION_TYPE=wayland"
Environment="MUTTER_DEBUG_DUMMY_MODE_SPECS=1920x1080@30.0"
ExecStart=gnome-shell --nested --wayland --no-x11

[Install]
WantedBy=default.target
