[Unit]
Description=Run Xvfb for display %I
After=network.target
Before=console-getty.service

[Service]
Environment="XVFB_SCREENS=-screen 0 1920x1080x24"
Environment="XVFB_FBDIR=/opt"
ExecStartPre=mkdir -p ${XVFB_FBDIR}
ExecStart=Xvfb %I $XVFB_SCREENS -fbdir ${XVFB_FBDIR}

[Install]
WantedBy=multi-user.target
