on:
  schedule:
    - cron: "0 0 * * 1"
  push:
    branches:
      - "**"

jobs:
  build:
    name: Deploy Rawhide Container
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          build-args: fedora_version=rawhide
          tags: ghcr.io/schneegans/gnome-shell-pod-rawhide:latest
          push: true
